<?xml version='1.0'?>
<model>
  <name>Bowser</name>
  <version>1.0</version>
  <sdf version="1.3">husky-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name></name>
    <email></email>
  </author>

  <description>
    
  </description>
</model>
