[submodule "igvc2019_navigation"]
	path = igvc2019_navigation
	url = https://github.com/chickenfromouterspace/igvc2019_navigation.git
[submodule "add"]
	path = add
	url = https://github.com/chickenfromouterspace/Bowser.git
[submodule "igvc2019_lidar"]
	path = igvc2019_lidar
	url = https://github.com/chickenfromouterspace/igvc2019_lidar.git
