<?xml version="1.0"?>

<model>
  <name>course_plane</name>
  <version>1.0</version>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>Wes</name>
    <email>don't@please.com</email>
  </author>

  <description>
    A plane based off of the IGVC course from past years
  </description>  

</model>
