<?xml version='1.0'?>
<model>
  <name>Bowser2</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Wes</name>
    <email>wkfletcher@knights.ucf.edu</email>
  </author>

  <description>
    A (really) rough model of Bowser with ROS functionality and 2 fancy-pants side cameras.
  </description>
</model>
