<launch>


	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find bowser_sim)/worlds/sim.world"/>
    	<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/>
    	<arg name="gui" value="false"/>
    	<arg name="recording" value="false"/>
    	<arg name="debug" value="false"/>
    	<arg name="verbose" value="true"/>
	</include>

	<param name="robot_description" textfile="/home/wes/Bowser/catkin_ws/src/bowser_sim/models/bowser2/model.urdf" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bowser_sim)/rviz/default.rviz"/>


</launch>