<launch>

    <param name="/use_sim_time" value="true" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find bowser_sim)/worlds/sim.world"/>
    	<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/>
    	<arg name="gui" value="true"/>
    	<arg name="recording" value="false"/>
    	<arg name="debug" value="false"/>
    	<arg name="verbose" value="true"/>
	</include>

	<!-- <node pkg="bowser_sim" type="motor_conversion.py" name="motor_conversion" /> -->

    <param name="robot_description" textfile="~Bowser/catkin_ws/src/bowser_sim/models/bowser2/model.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bowser_sim)/rviz/default.rviz"/>

    <!-- <include file="$(find bowser_2dnav)/launch/nav.launch"/> -->

</launch>